<div class="container py-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8">
      <h1 class="text-center">Real Estates Index Page</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">City</th>
            <th scope="col" class="text-center">Country</th>
            <th> Acctions </th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-realEstate [ngForOf]="realEstates">
            <tr>
              <th class="text-center" scope="row">{{realEstate.id}}</th>
              <td class="text-center">{{realEstate.name}}</td>
              <td class="text-center">{{realEstate.city}}</td>
              <td class="text-center">{{realEstate.country}}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm" routerLink="/real-estates/{{realEstate.id}}">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>

